@charset "UTF-8";
/* CSS Document */
 
/*------------------------------------*\
    $ELEMENTS
\*------------------------------------*/
.bannerHeader {
	background-color: #F8F8F8;
}
/*** Login ***/
.login {
	width: 100%;
	padding:0px 100px 100px;
	background-color: #F8F8F8;
}
.login header h1 {
	font-size: 2em;
	line-height: 10px;
	font-weight: normal;
}
form label {
	font-size: 1.5em;
	line-height: 50px;
	font-weight: normal;
}
input {
    background: transparent;
    border: 1px solid #939393;
}
/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/
@media screen and (min-width: 320px)  and (max-width: 480px) { 
/*** Section Login ***/
.login {
	text-align:left;
	padding:0px 10px 20px;
}
.login header h1 {
	font-size: 1.3em;
}
form label {
	font-size: 1em;
}
}
@media screen and (max-width: 960px) {

}
@media screen and (min-width:961px) {

}
